body {
    background:#000000;
    color:#00FF00;
    font-family: "Roboto Mono", monospace, courier;
    overflow:hidden;
    margin:0px;
    width:100vw;
    height:100vh;
}
#console {
    word-wrap:break-word;
    position:absolute;
    width:100vw;
    min-height:100vh;
    padding:10px;
    box-sizing:border-box;
    bottom:0px;
    white-space: break-spaces;
    word-break: break-all;
}
#console::after {
    content:"";
    display:inline-block;
    width:1ch;
    height:1.05em;
    box-sizing:border-box;
    position:relative;
    top:4px;
    left:1px;
    background:#ffffff;
    animation: blinker 1s step-start infinite;
    opacity:1;
}